@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #181818;
    --secondary-color: #212121;
    --seconday-light-color: #383838;
    --main-secondary-light: #717171;
    --text-light-main: #aaaaaa;
    --hover-text-color: #4d4d4d;
    --text-main: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
}

.material-symbols-rounded {
    color: var(--text-main);
    font-weight: 200;
}
  
.material-symbols-rounded.active {
    font-variation-settings: 
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
}
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: var(--secondary-light-color);
    border-radius: 6px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}